.arrow_wrapper {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.arrow_icon {
  align-self: center;
  font-size: 10px;
}

.card_details_wrapper p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.card_image_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card_image_wrapper img {
  width: 50px;
}

.image_and_icon_wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card_degrees_wrapper p {
    font-weight: 700;
    padding-top: 5px;

} 
.home_wrapper h2 {
    color: black;
    font-style: italic;
    font-size: 16px;
    font-weight: 700;

}
